{% extends "default.html" %}
{% block title %}File system checks{% endblock %}

{% block nav %}
{% include 'fsck-nav.html' %}
{% endblock %}

{% block content %}
{% if fscks|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">File system checks</h2>
    <p class="card-text">
      No file system checks have been run.
    </p>
  </div>
</div>
{% endif %}

{% for fsck in fscks %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{fsck.color}}">
{% if fsck.extended %}
    Extended
{% endif %}
    File System Check #{{fsck.fsck_id}}
    <span class="float-right">
{% if not fsck.is_running %}
    Taking {{format_humanize_naturaldelta(fsck.ended_ts-fsck.started_ts)}}
{% endif %}
      {{format_humanize_naturaltime(fsck.started_ts)}}
    </span>
  </h2>
  <div class="card-body">
    <p class="card-text">
      {{format_plugin_id(fsck.plugin_id).summary}}
    </p>
{% if fsck.is_running %}
    <p class="card-text">Test is running…</p>
{% endif %}
    <ul class="card-text">
{% if not fsck.is_running and not fsck.attributes %}
      <li class="list-group-item">No issues detected!</li>
{% endif %}
{% for attr in fsck.attributes %}
      <li class="list-group-item">
{% if attr.message %}
        <code>{{attr.title}}: {{attr.message}}</code>
{% else %}
        <code>{{attr.title}}</code>
{% endif %}
      </li>
{% endfor %}
    </ul>
{% if fsck.container_id %}
    <p class="card-text">
      Run on container <code>{{fsck.container_id}}</code>.
    </p>
{% endif %}
{% if fsck.is_running %}
    <form action="{{url_for('fsck.route_cancel', fsck_id=fsck.fsck_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-warning float-right mx-1">Cancel</button>
    </form>
{% else %}
    <form action="{{url_for('fsck.route_delete', fsck_id=fsck.fsck_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-danger float-right mx-1">Delete</button>
    </form>
{% endif %}
  </div>
</div>
{% endfor %}

{% endblock %}
