{% extends "default.html" %}
{% block title %}Runtime Tests{% endblock %}

{% block content %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Test Overview</h2>
    <p class="card-text">
      After adding or enabling a new plugin you may have to manually scan
      existing firmware so that the new tests are scheduled.
    </p>
    <form action="{{url_for('tests.route_ensure')}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-warning mx-1">Scan for new tests</button>
    </form>
  </div>
</div>

{% if plugin_ids|length > 0 %}
{% for plugin_id in plugin_ids %}
<a name="{{plugin_id}}"></a>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">{{plugins[plugin_id].name}}</h2>
<p class="text-secondary">{{plugins[plugin_id].summary}}</p>
<table class="table">
{% if tests_pending[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Pending</th>
    <td class="col col-sm-3">{{tests_pending[plugin_id]|length}}</td>
  </tr>
{% endif %}
{% if tests_running[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Running</th>
    <td class="col">{{tests_running[plugin_id]|length}}</td>
    </td>
  </tr>
{% endif %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Success</th>
    <td class="col">{{tests_success[plugin_id]|length}}</td>
  </tr>
  <tr class="row table-borderless">
    <th class="col col-sm-3">Failures</th>
    <td class="col">{{tests_failed[plugin_id]|length}}</td>
  </tr>
{% if tests_waived[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Waived</th>
    <td class="col">{{tests_waived[plugin_id]|length}}</td>
  </tr>
{% endif %}
</table>
    <div class="form-inline">
      <form action="{{url_for('tests.route_retry_all', plugin_id=plugin_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-warning mx-1">Retry all</button>
      </form>
{% if tests_failed[plugin_id]|length > 0 %}
      <form action="{{url_for('tests.route_waive_all', plugin_id=plugin_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-warning mx-1">Waive all</button>
      </form>
{% endif %}
      <form action="{{url_for('tests.route_delete_all', plugin_id=plugin_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-danger float-right mx-1">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endfor %}

{% else %}
<div class="card mt-3">
  <div class="card-body">
    <p class="card-text text-secondary">
      No tests exist.
    </p>
  </div>
</div>
{% endif %}

{% endblock %}
